* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
    display: block;
    content: '';
}

.col {
    float: left;
    padding: 0 !important;
}

.col-40 {
    width: 40% !important;
}

.col-60 {
    width: 60% !important;
}

.col-25 {
    width: 25% !important;
}

.menu {
    list-style: none
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

button {
    outline: none !important;
}

.content {
    padding: 5px;
}

.product-detail .heading h2 {
    font-size: 20px !important;
    color: white;
    background: red;
    padding: 5px;
    display: inline-block;
    margin-bottom: 0 !important;
    border-radius: 3px;
}

.product-detail .heading {
    position: relative;
}

.product-detail .heading:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    right: 0;
    left: 5px;
    background: red;
    bottom: 0;
    z-index: 0;
}


/* Image-product */

.product-detail .image-product .exzoom .exzoom_nav_inner span {
    border: 1px solid rgba(197, 189, 189, 0.5) !important;
    padding: 5px !important;
    margin-left: 5px !important;
}

.exzoom_nav {
    left: 5px !important;
}

.product-detail .image-product .exzoom .exzoom_btn a {
    background: none !important;
    border: none;
    position: absolute;
    color: red;
    line-height: 0 !important;
}


/* Info-detail */

.product-detail .info-detail {
    padding-left: 20px !important;
}

.product-detail .info-detail h1 {
    font-size: 30px;
}

.product-detail .info-detail .text {
    font-size: 16px;
}

.product-detail .info-detail .text-code svg {
    /* font-size: 10px; */
    width: 10px !important;
    height: 10px !important;
    border: 1px solid red !important;
    border-radius: 50% !important;
    padding: 2px;
    margin-right: 5px;
    vertical-align: baseline;
}

.product-detail .info-detail .text-code .code {
    font-weight: bold;
}

.product-detail .info-detail .text-code .price-info {
    color: red;
}

.product-detail .info-detail .text-code .price {
    font-size: 20px;
}

.product-detail .info-product {
    margin-top: 50px;
}


/* INFO-SHIP */

.product-detail .info-detail .menu-ship {
    margin-left: 30px;
    margin-top: 40px;
}

.product-detail .info-detail .menu-ship li a {
    font-size: 14px;
    color: black;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
}

.product-detail .info-detail .menu-ship li a:hover {
    text-decoration: none;
}

.product-detail .info-detail .info-ship .menu-ship li.map:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(./icon_map1.png);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-top: 8px;
}

.product-detail .info-detail .info-ship .menu-ship li.buy:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(./icon_map2.png);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-top: 8px;
}

.product-detail .info-detail .info-ship .menu-ship li.ship:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(./tải\ xuống.png);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-top: 8px;
}


/* AMOUNT */

.product-detail .amount {
    margin-top: 50px;
    position: relative;
}

.product-detail .amount span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.product-detail .amount .btn-amout {
    border: none;
    border-radius: 4px;
    outline: none;
    width: 30px;
    height: 30px;
}

.product-detail .amount input {
    width: 50px;
    text-align: center;
    border: none;
}

.product-detail .amount .buy {
    position: absolute;
    left: 35%;
    top: 0;
}

.product-detail .amount .buy button {
    color: white;
    background: red;
    font-size: 15px;
    padding: 5px 10px !important;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    border: none;
}


/* INFO-PRODUCT */

.product-detail .info-product .text-info-product {
    margin-top: 20px;
    font-size: 16px;
}


/* Address-buy */

.product-detail .address-buy {
    margin-top: 40px;
}

.product-detail .address-buy h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(56, 58, 61);
}

.product-detail .address-buy h3:after {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: red;
    left: 0;
    bottom: -5px;
}

.product-detail .address-buy .address-list {
    margin-left: 20px;
}

.product-detail .address-buy .address-list .menu-address li span {
    font-weight: bold;
    font-size: 18px;
    color: black;
}


/* Product-sgs */

.product-sgs .heading {
    margin-top: 20px;
}

.list-product {
    margin-top: 30px;
}

.image-product {
    position: relative;
}

.image-product img {
    width: 100%;
}

.image-product .product-detail .detail a {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px 60px;
    display: block;
    background: rgba(102, 104, 102, 0.5);
    color: white !important;
    margin-bottom: 10px;
    transition: all 0.5s;
    opacity: 0;
}

.image-product .product-detail .detail a:hover {
    background: rgba(102, 104, 102, 0.8);
}

.image-product:hover .product-detail .detail a {
    left: 50%;
    opacity: 1;
}

.image-product .product-detail .cart a {
    position: absolute;
    bottom: 40%;
    right: 25%;
    transform: translate(50%, 50%);
    padding: 10px 60px;
    display: block;
    background: rgba(102, 104, 102, 0.5);
    color: white !important;
    transition: all 0.5s;
    opacity: 0;
}

.image-product .product-detail .cart a:hover {
    background: rgba(102, 104, 102, 0.8);
}

.image-product:hover .product-detail .cart a {
    right: 50%;
    opacity: 1;
}

.list-product .product .info-product {
    text-align: center;
    margin-top: 0 !important;
}

.list-product .product .info-product a {
    display: block;
    padding: 10px;
    color: black;
    font-size: 20px;
    transition: all 0.3s;
}

.list-product .product .info-product a:hover {
    color: red;
}

.list-product .product .info-product .star-product {
    color: yellow;
}

.list-product .product .info-product .price {
    display: block;
    font-size: 14px;
    color: red;
}


/* Slider */

.owl-carousel {
    display: block !important;
}

.owl-dots {
    display: none;
}

.slider-content-bottom {
    margin-top: 30px;
}

.slider-content-bottom .owl-carousel {
    position: relative;
}

.slider-content-bottom .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-100%);
    font-size: 40px !important;
    color: red !important;
    transition: all 0.5s;
    opacity: 0;
    outline: none;
}

.slider-content-bottom .owl-nav .owl-prev:hover {
    background: none !important;
}

.slider-content-bottom .owl-carousel:hover .owl-prev {
    left: 15px;
    opacity: 1;
}

.slider-content-bottom .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-100%);
    font-size: 40px !important;
    color: red !important;
    transition: all 0.5s;
    opacity: 0;
    outline: none;
}

.slider-content-bottom .owl-nav .owl-next:hover {
    background: none !important;
}

.slider-content-bottom .owl-carousel:hover .owl-next {
    right: 15px;
    opacity: 1;
}