<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/icomoon.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/flexslider.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>

</head>
<body>

<div class="colorlib-loader"></div>

<div id="page">

    <div th:replace="fragment/header :: header_info (vm=${vm.getLayoutHeaderVM()})"></div>

    <div class="container" th:if="${vm.getProductAmount()} == 0">
        <h2>
            <p>&nbsp;</p>
            <b style="margin-left: 250px">Bạn chưa có sản phẩm nào trong giỏ hàng</b>
            <p>&nbsp;</p>
            <p style="margin-left: 470px">
                <a style="color: black" th:href="${'/product'}" class="btn btn-primary">Mua Hàng</a>
            </p>
            <p>&nbsp;</p>

        </h2>
    </div>

    <br>
    <div class="container" th:if="${vm.getProductAmount()} > 0">
        <h2>
            <p>&nbsp;</p>
            <b>Giỏ Hàng</b>
            <p th:text="'Bạn đang có ' + ${vm.getProductAmount()} + ' sản phẩm trong giỏ hàng'" style="font-size: 18px; margin-top: 10px"></p>
        </h2>
        <table class="table table-striped">
            <thead>
            <tr class="success">
                <th class="text-center">STT</th>
                <th class="text-center">Ảnh sản phẩm</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Thành tiền</th>
                <th class="text-center">&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="cartProduct,iter : ${vm.getCartProductVMS()}">
                <td colspan="1" th:text="${iter.index+1}"></td>
                <td class="text-center" style="vertical-align:middle">
                    <a href="#">
                        <img th:src="${cartProduct.getMainImage()}" alt="" width="140" height="110">
                    </a>
                </td>
                <td class="text-center" style="vertical-align:middle">
                    <a th:text="${cartProduct.getProductName()}" style="color: black"></a>
                </td>
                <td  class="text-center" style="vertical-align:middle; color: black;">
                    <a th:text="${cartProduct.getPriceProduct()} + ' VNĐ'" style="color: black"></a>
                </td>
                <td align="center" class="text-center" style="vertical-align:middle">
                    <input class="change-product-amount" th:attr="data-id=${cartProduct.getId()}, data-product = ${cartProduct.getProductId()}" th:value="${cartProduct.getAmount()}" type="number" min="1" step="1" style="width:50px"/>
                </td>
                <td class="text-center" style="vertical-align:middle">
                    <span th:text="${cartProduct.getPrice()}+' VNĐ'" style="color: black" ></span>
                </td>
                <td class="text-center" style="vertical-align:middle">
                    <button th:attr="data-id=${cartProduct.getId()}, data-product = ${cartProduct.getProductId()}" style="padding: 3px 7px;" type="submit" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này khỏi giỏ?');" class="btn btn-danger btn-xs delete-cart-product">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pull-right">
            <table style="border: 1px solid #DFF0d8; background-color: #f5f5f5; float: right; margin-bottom: 50px">
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <!--                <td>&nbsp;</td>-->
                    <td class="text-center" style="vertical-align:middle; color: black; padding: 10px">
                        Tổng :
                        <b th:text="${vm.getTotalPrice()}+' VNĐ'" id="tongthanhtien"></b>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr >
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <!--                <td>&nbsp;</td>-->
                    <td class="text-center" style="vertical-align:middle; color: black; padding: 10px">
                        Phí Ship :
                        <b>200,000 VNĐ</b>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr th:if="${user} != null" >
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <!--                <td>&nbsp;</td>-->
                    <td class="text-center" style="vertical-align:middle; color: black; padding: 10px">
                        Giảm giá :
                        <b th:text="${vm.getPromotion()}"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <!--                <td>&nbsp;</td>-->
                    <td class="text-center" style="vertical-align:middle; color: black; padding: 10px">
                        Phải trả :
                        <b th:text="${vm.getPay()}+'VNĐ'" id="tongthanhtienphaitra"></b>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p>
                <a style="color: black; " th:href="${'/product'}" class="btn btn-primary">Mua Tiếp</a>
                <a style="color: black; margin-left: 55px;" th:href="@{/order/getcheckout}" class="btn btn-primary">Thanh Toán</a>
            </p>
        </div>
    </div>

    <div th:replace="fragment/footer :: footer_info"></div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.flexslider-min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/magnific-popup-options.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/cart.js}"></script>

</body>
</html>

