<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/content/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/main.css}">
    <!--===============================================================================================-->
</head>
<body >

<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login700" >
            <div class="row">
                <div style="width: 50%">
						<span class="login100-form-title p-b-48">
							<img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signin-image.jpg" width="300" height="400" >
						</span>
                </div>
                <div style="width: 50%">
                    <form class="login100-form validate-form" th:action="@{/user/change-password}" method="post" th:object="${changePassword}">
                        <span class="login100-form-title p-b-26">
                            Đổi Mật Khẩu
                        </span>

                        <div th:if="${param.success}">
                            <div class="form-alert-success" >
                                Đổi mật khẩu thành công!!
                            </div>
                        </div>
                        <div th:if="${param.fail}">
                            <div class="form-alert-fail">
                                Đổi mật khẩu bị lỗi!!!
                            </div>
                        </div>
                        <div th:if="${param.invalidCurrentPassword}">
                            <div class="form-alert-fail" >
                                Mật khẩu hiện tại không đúng!!
                            </div>
                        </div>
                        <div th:if="${param.invalidConfirmPassword}">
                            <div class="form-alert-fail" >
                                Mật khẩu mới không giống mật khẩu xác nhận!!
                            </div>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Mật khẩu cũ">
                            <input th:field="*{currentPassword}" class="input100" type="password" name="CurrentPassword">
                            <span class="focus-input100" data-placeholder="Mật khẩu cũ"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Mật khẩu mới">
								<span class="btn-show-pass">
									<i class="zmdi zmdi-eye"></i>
								</span>
                            <input th:field="*{newPassword}" class="input100" type="password" name="NewPassword">
                            <span class="focus-input100" data-placeholder="Mật khẩu mới"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Nhập lại mật khẩu">
								<span class="btn-show-pass">
									<i class="zmdi zmdi-eye"></i>
								</span>
                            <input th:field="*{confirmPassword}" class="input100" type="password" name="ConfirmPassword">
                            <span class="focus-input100" data-placeholder="Nhập lại mật khẩu"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button style="font-family: Arial;" class="login100-form-btn">
                                    Cập Nhật
                                </button>
                            </div>
                            <a style="margin-top: 10px" th:href="${'/user/detail'}">Trở Về</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script th:src="@{/content/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/content/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/content/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/js/main.js}"></script>

</body>
</html>