<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>

    <link rel="stylesheet" th:href="@{/checkout/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <link rel="stylesheet" th:href="@{/checkout/css/style.css}">
</head>
<body>

<div class="main">
    <div class="container">
        <form method="post" th:object="${orderVM}" th:action="@{/order/checkout}" class="appointment-form" id="appointment-form" style="margin-top: -40px">
            <h2 class="titleName">Thông Tin Khách Hàng</h2>
            <div class="form-group-1">
                <p>Tên khách hàng</p>
                <input th:field="*{customerName}" type="text" id="customerName" placeholder="Tên Khách Hàng" required />
                <p>Email</p>
                <input th:field="*{email}" type="email" id="email" placeholder="Email" required />
                <p>Địa chỉ</p>
                <input th:field="*{address}" type="text" id="address" placeholder="Đại Chỉ" required />
                <p>Số điện thoại</p>
                <input th:field="*{phoneNumber}" type="text" id="phoneNumber" placeholder="Số Điện Thoại" required />
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="Thanh Toán" />
                </div>
            </div>
        </form>
    </div>

</div>
<script th:src="@{/checkout/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/checkout/js/main.js}"></script>
</body>
</html>