<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/content/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/content/css/main.css}">
    <!--===============================================================================================-->
</head>
<body >

<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login100" >
            <form class="login100-form validate-form" style="margin-top: -50px" th:action="@{/register-user}" method="post" th:object="${user}">
					<span class="login100-form-title p-b-26">
						Đăng Kí
					</span>
                <span class="login100-form-title p-b-48" style="margin-top: -27px">
                    <img src="https://png.pngtree.com/template/20190910/ourlarge/pngtree-furniture-logo-design-template-symbol-and-icon-of-chairs-sofas-tables-image_305364.jpg" width="150" height="150" >
                </span>

                <div th:if="${param.success}">
                    <div class="form-alert-success" >
                        Đăng kí thành công!!
                    </div>
                </div>
                <div th:if="${param.fail}">
                    <div class="form-alert-fail">
                        Đăng kí bị lỗi!!!
                    </div>
                </div>
                <div th:if="${param.invalidUserName}">
                    <div class="form-alert-fail" >
                        Tên đăng nhập bị trùng!!
                    </div>
                </div>
                <div th:if="${param.invalidEmail}">
                    <div class="form-alert-fail" >
                        Email bị trùng!!
                    </div>
                </div>

                <div style="margin-top: -20px" class="wrap-input100 validate-input" data-validate = "Nhập tên đăng nhập">
                    <input class="input100" type="text" name="username" th:field="*{userName}">
                    <span class="focus-input100" data-placeholder="Tên đăng nhập"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is: abc@gmail.com">
                    <input class="input100" type="text" name="email" th:field="*{email}">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Nhập mật khẩu">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="password" th:field="*{password}">
                    <span class="focus-input100" data-placeholder="Mật khẩu"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Đăng Kí
                        </button>
                    </div>
                </div>

                <div style="margin-top: -80px" class="text-center p-t-115">
						<span class="txt1">
							Đã có tài khoản?
						</span>

                    <a class="txt2" th:href="@{/login}">
                        Đăng Nhập
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script th:src="@{/content/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/content/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/content/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/content/js/main.js}"></script>

</body>
</html>